body {
  background: #fff;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.diskette {
  width: 400px;
  height: 440px;
  background: #2b2b2b;
  color: #464545;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.diskette-top-container{
  background: #494949;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap{
  background: #5c5a5a;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}

.metal{
  background: #bbb;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;

  
}

.hole{
  background: #000;
  width: 60px;
  height: 80px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.diskette-bottom-container{
  background: #494949;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.leftpad-container{
  background: #868686;
  width: 40px;
  height: 200px;

}

.label{
  background: #bbb;
  height: 200px;
  width: 240px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  
}

.rightpad-container{
  background: #868686;
  width: 40px;
  height: 200px;
}

.label-top{
  background: #fff;
  height: 45px;
  width: 195px;
  display: flex;
  margin-top: 5px;
}